@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Medium.woff') format('woff'),
	url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/****************
VARIABLES
****************/
:root {
	/*	FONTS	*/
  	--font-default: 'Montserrat';
  	
  	/*	SIZES	*/
  	--size-default: 14px;

  	/*	COLORS	*/
  	--color-default: #212842;
  
    --color-primary: #0083fb;
  	--color-primary-dark: #00539f;
    --color-primary-light: #2f9cff;
    --color-primary-lighter: #2c9aff;
    --color-primary-lightest: #57c6ff;

    --color-light: #9197ae;

    --color-danger: #ff0701;
    --color-success: #2bb628;
    --color-warning: #e67700;

    --color-bg: #f5f6fa;
    
  	/*	ADDITIONAL	*/
  	--transition: all .2s ease;
    --text-strong: 600;
}

/****************
RESET
****************/
html, body {
    padding:0;
    margin:0;
    height: 100%;
}
html {
    font-size: var(--size-default);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-size: var(--size-default);
    line-height: 1;
    display: block;
    min-width: 1000px;
    overflow-x: auto;
    -webkit-text-size-adjust: 100%;
    background-color: var(--color-bg);
    font-family: var(--font-default);
    color: var(--color-default);
    font-weight: 500;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0!important;
}
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0!important;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    -webkit-appearance: none;
}
img {
    vertical-align: middle;
    image-rendering: -webkit-optimize-contrast;
}
a{
    color: inherit;
    text-decoration: none;
    -webkit-transition: var(--transition);
       -moz-transition: var(--transition);
         -o-transition: var(--transition);
            transition: var(--transition);  
}
a:active{
  color:inherit;
}
.transition{
   -webkit-transition: var(--transition);
      -moz-transition: var(--transition);
        -o-transition: var(--transition);
           transition: var(--transition);
}
.u, .u-hover{
    text-decoration: none!important;
}
.u{
    border-bottom: 1px solid;
    opacity: 1;
}
.u:hover{
    border-bottom-color: transparent;
}
.u-hover{
    border-bottom: 1px solid transparent;
}
.u-hover:hover{
    border-bottom-color: inherit;
}
.u-dotted{
    border-bottom-style: dotted;
}
.u-dashed::after{
    border-bottom-style: dashed;
}

.b,
.strong{
    font-weight: var(--text-strong);
}
.cursor-p,
.cursor-p:hover{
    cursor: pointer;
}
.cursor-d,
.cursor-d:hover{
    cursor: default;
}
.no-select{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.relative{position: relative!important;}
.static{position: static!important;}
.absolute{position: absolute!important;}
.fixed{position: fixed!important;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.text-uppercase{text-transform: uppercase;}
*::selection {
    background: #272727;
    color: #fff;
}
*::-moz-selection {
    background: #272727;
    color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {color:var(--color-light); transition: all .2s ease;}
input:-moz-placeholder, textarea:-moz-placeholder {color:var(--color-light); transition: all .2s ease;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder  {color:transparent;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color:transparent;}

/****************
GRID
****************/
.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1180px;
	padding: 0 30px;
    display: block;
}
.row{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;   
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; 
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
{
    padding-left:15px;
    padding-right: 15px;
    position: relative;
}
.col-1  {width:  8.33333%;}
.col-2  {width: 16.66666%;}
.col-3  {width:       25%;}
.col-4  {width: 33.33333%;}
.col-5  {width: 41.66666%;}
.col-6  {width:       50%;}
.col-7  {width: 58.33333%;}
.col-8  {width: 66.66666%;}
.col-9  {width:       75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66666%;}
.col-12 {width:      100%;}
.hidden {display: none;}
.visible {display: block;}
.flex {display: flex;flex-wrap: wrap;flex-direction: row;}
.column {display: flex;flex-wrap: wrap;flex-direction: column;}
.col-offset-1  {margin-left:  8.33333%;}
.col-offset-2  {margin-left: 16.66666%;}
.col-offset-3  {margin-left:       25%;}
.col-offset-4  {margin-left: 33.33333%;}
.col-offset-5  {margin-left: 41.66666%;}
.col-offset-6  {margin-left:       50%;}
.col-offset-7  {margin-left: 58.33333%;}
.col-offset-8  {margin-left: 66.66666%;}
.col-offset-9  {margin-left:       75%;}
.col-offset-10 {margin-left: 83.33333%;}
.col-offset-11 {margin-left: 91.66666%;}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
    pointer-events: none;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: var(--color-primary);
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: var(--color-primary);
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: var(--color-primary);
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: var(--color-primary);
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: var(--color-primary);
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: var(--color-primary);
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: var(--color-primary);
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: var(--color-primary);
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: var(--color-primary);
}