/****************
HEADER AND MENU
****************/
.page{
	display: flex;
	flex-wrap: wrap;
	min-height: calc(100% - 82px);
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 245px);
	padding-top: 50px;
}
.header{
	border-bottom: 2px solid #ebedf3;
	background: #fff;
	height: 82px;
	display: flex;
	align-items: center;
	width: 100%;
	padding-left: 245px;
}
.logo{
	width: 245px;
	border-right: 2px solid #ebedf3;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	padding: 0 26px;
	position: absolute;
	left: 0;
	top: 0;
}
.logo a{
	max-width: 100%;
	display: block;
}
.logo img{
	display: block;
	max-width: 100%;
}
.container--header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar{
	background: var(--color-primary-dark);
	width: 245px;
}
.footer{
	padding: 75px 0 60px;
	width: 100%;
	color: #b2b6c6;
}
.container--footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer a:hover{
	color: var(--color-default);
}
.footer-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% - 260px);
}
.creators{
	margin-left: 50px;
}
.creators a{
	color: var(--color-primary);
}
.creators a:hover{
	color: var(--color-primary-lighter);	
}
.login-error{
	margin-left: 30px;
	color: var(--color-danger);
}
.main-menu{
	color: #bfc5d1;
	font-weight: 600;
	font-size: 16px;
	padding: 40px 26px 0;
}
.main-menu li{
	margin-bottom: 45px;
	display: block;
}
.main-menu a{
	display: flex;
	align-items: center;
	position: relative;
}
.main-menu a:hover,
.main-menu .active a{
	color: var(--color-primary-lightest);
}
.main-menu-icon{
	display: block;
	width: 31px;
	height: 31px;	
	margin-right: 12px;
	position: relative;
}
.main-menu-icon::after,
.main-menu-icon::before{
	content: '';
	background: url(../img/menu-icons.png) no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .2s ease;
}
.main-menu-icon::before{
	opacity: 0;
}
.main-menu .active .main-menu-icon::after,
.main-menu a:hover .main-menu-icon::after{
	opacity: 0;
}
.main-menu .active .main-menu-icon::before,
.main-menu a:hover .main-menu-icon::before{
	opacity: 1;
}
.icon-orders::after{
	background-position: 0 0;
}
.icon-samples::after{
	background-position: 0 -40px;
}
.icon-claims::after{
	background-position: 0 -80px;
}
.icon-profile::after{
	background-position: 0 -120px;
}
.icon-orders::before{
	background-position: -40px 0;
}
.icon-samples::before{
	background-position: -40px -40px;
}
.icon-claims::before{
	background-position: -40px -80px;
}
.icon-profile::before{
	background-position: -40px -120px;
}
.main-menu-notifications{
	position: absolute;
	width: 19px;
	height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	font-weight: 400;
	color: #fff;
	background: var(--color-danger);
	border-radius: 50%;
	left: 20px;
    top: -5px;
}
.your-manager{
	color: #fff;
	padding: 130px 26px 0;
}
@media only screen and (max-height: 874px) {
	.your-manager{
		padding-top: 10px;
	}
}
.your-manager img{
	border-radius: 50%;
	width: 130px;
	height: 130px;
	display: block;
	margin-bottom: 18px;
}
.your-manager a:hover{
	color: var(--color-primary-lightest);
}
.your-manager_contacts{
	display: flex;
	flex-direction: column;
	margin-top: 28px;
	line-height: 1.7;
}
.your-manager_name{
	font-size: 16px;
	font-weight: 600;
}
.your-manager_name span{
	display: block;
	color: #bfc5d1;
	font-size: 14px;
	font-weight: 500;
	margin-top: 12px;
}
.header .popup-menu-container {
    position: relative;
    z-index: 2;
}
.header .icon-more {
    background: url(../svg/caret-down.svg) no-repeat right center;
    cursor: pointer;
    display: block;
    position: relative;
    padding-right: 20px;
    border: 0;
    border-radius: 0;
    width: auto;
    height: auto;
    background-size: 13px 13px;
    opacity: 1;
    transition: all .2s ease;
}
.profile-link{
	padding-right: 20px;
    opacity: 1;
	background: url(../svg/caret-down.svg) no-repeat right center;
	background-size: 13px 13px;
	display: block;
	transition: all .2s ease;
}
.profile-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/profile.png) no-repeat center center;
}
.header .popup-menu{
	white-space: nowrap;
}
.header .popup-menu.active, .header .active > .popup-menu{
	top: -15px;
	right: -15px;
}
.popup-menu li.profile-li{
	margin-bottom: 7px;
}
.header .icon-more:hover,
.profile-link:hover{
	color :var(--color-primary);
	background: url(../svg/caret-down-blue.svg) no-repeat right center;
	background-size: 13px 13px;
}
@media only screen and (max-width: 1424px) {
	.header{
		padding-left: 190px;
	}
	.logo{
		width: 190px;
	}
	.sidebar{
		width: 190px;
	}
	.content{
		width: calc(100% - 190px);
	}
	.footer-links {
	    flex-direction: column;
	    align-items: flex-start;
	}
	.footer-links a{
		margin: 16px 0 0 0;
	}
	.container--footer{
		align-items: flex-start;	
	}
}

/****************
BASE ELEMENTS
****************/
.overlay{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 45;
    -webkit-transition: opacity .35s ease;
    -moz-transition: opacity .35s ease;
    -o-transition: opacity .35s ease;
    transition: opacity .35s ease;
    opacity: 0;
    visibility: hidden;
    display: block;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal-open {
    overflow: hidden;
}
/****************
PROFILE
****************/
.tabs{
	display: flex;
	font-size: 18px;
	border-bottom: 2px solid #d6d9e3;
	color: var(--color-light);
	margin-bottom: 30px;
}
.tabs a{
	border-bottom: 2px solid transparent;
	display: block;
	margin-bottom: -2px;
	padding: 10px 32px; 
}
.tabs a:hover{
	color: var(--color-default);
}
.tabs .active a{
	border-color: var(--color-primary);
	color: var(--color-default);
}

.profile-info{
	background: #fff;
	border: 2px solid #ebedf3;
	display: flex;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 15px;
}
.profile-info div{
	border-left: 2px solid #ebedf3;
	font-size: 15px;
	padding: 15px;
	font-weight: 600;
}
.profile-info div:nth-child(1){
	width: 30%;
	border-left: none;
}
.profile-info div:nth-child(2){
	width: 24%;
}
.profile-info div:nth-child(3){
	width: 22%;
}
.profile-info div:nth-child(3){
	width: 24%;
}
.profile-info div > span{
	color: var(--color-light);
	font-weight: 500;
	display: block;
	margin-top: 15px;
	font-weight: 500;
}
.contract-item{
    background: #fff;
    border: 2px solid #ebedf3;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 33px 30px 27px;
}
.contract-item.disabled {
	opacity: 0.6;
}
.contact-item_main{
	width: 35%;
	padding-right: 30px;
	line-height: 1.2;
	font-weight: 600;
}
.contact-item_main span{
	color: var(--color-light);
	font-size: 12px;
	font-weight: 500;
	display: block;
	margin-top: 15px;
}
.contact-item_main span i.archive-lable {
	display: inline-block;
	margin-left: 6px;
	background: #888;
	color: #fff;
	padding: 2px 4px;
	font-size: 10px;
	font-weight: 600;
	font-style: normal;
}
.contract-item_addon{
	width: 65%;
	padding-left:70px;
	border-left: 2px solid #ebedf3;
	line-height: 2;
	font-weight: 600;
}
.consignees{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -14px;
}
.consignees > div{
	padding: 0 14px;
	margin-bottom: 28px;
	width: 33.33%;
	display: flex;
}
.consignee-item{
	padding: 45px 62px 45px 30px;
	background: #fff;
    border: 2px solid #ebedf3;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    position: relative;
}
.consignee-item_name{
	font-weight: 600;
}
.consignee-item .popup-menu-container{
	position: absolute;
	right: 30px;
	top: calc(50% - 10px);
	z-index: 2;
}
.active.popup-menu-container{
	z-index: 3;
}
.popup-menu{
	display: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.popup-menu.active,
.active > .popup-menu{
    display: block;
    background: #fff;
    text-align: right;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
}
.popup-menu li{
	margin-bottom: 9px;
	font-weight: 500;
    font-size: 14px;
}
.popup-menu li:last-child{
	margin-bottom: 0;
}
.popup-menu a:hover{
	color: var(--color-primary);
	cursor: pointer;
}
.icon-more{
	width: 20px;
	height: 20px;
	background: url(../svg/icon-more.svg) no-repeat center center;
	border: 1px solid #8a8e96;
	opacity: 0.7;
	transition: opacity .2s linear;
	cursor: pointer;
	display: block;
	border-radius: 50%;
	position: relative;
}
.icon-more:hover,
.icon-more.active,
.active > .icon-more{
	opacity: 1;
}
.button{
	color: #fff;
	background: var(--color-primary);
	line-height: 1;
	border-radius: 3px;
	padding: 15px 23px;
	display: inline-block;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	transition: all .2s linear;
	border: 0;
}
.button:hover,
.button:active{
	background: var(--color-primary-light);	
	color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	user-select: none;
}
.button:active{
	box-shadow: none;
}
.consignees-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}
.consignees-text{
	color: var(--color-light);
}
.nom{
	display: table;
	border-spacing: 0 15px;
	width: 100%;
}
.nom-item{
    border: 2px solid #ebedf3;
    display: table-row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 40px 0;
}
.nom-item.disabled {
	opacity: 0.6;
}
.nom-item > div{
	line-height: 1.2;
    font-weight: 600;
    padding: 30px 20px;
    font-size: 16px;
    background: #fff;
    position: relative;
    display: table-cell;
    border-top: 2px solid #ebedf3;
    border-bottom: 2px solid #ebedf3;
}
.nom-item > div:not(:last-child)::after{
	content:'';
	position: absolute;
	right: -1px;
	width: 2px;
	background: #ebedf3;
	top: 30px;
	bottom: 30px;
	z-index: 1;
}
.nom-item > div:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 25px;
	border-left: 2px solid #ebedf3;
}
.nom-item > div:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 25px;
    border-right: 2px solid #ebedf3;
}
.nom-item > div span{
	color: var(--color-light);
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-top: 15px;
}
.nom-item > div span i.archive-lable {
	display: inline-block;
	background: #888;
	color: #fff;
	padding: 2px 4px;
	font-size: 10px;
	font-weight: 600;
	font-style: normal;
}
.nom-item > div:nth-child(1){
	width: 40%;
}
.nom-item > div:nth-child(2){
	width: 15%;
}
.btn-block{
	width: 100%;
	display: block;
}
.button-more{
	position: relative;
	margin-top: 15px;
}
.button-more::after {
	display: block;
    width: 14px;
    height: 14px;
    margin: -7px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    animation: load 0.9s linear infinite;
}
.button-more.loading{
	color: transparent;
}
.button-more.loading::after{
	content:''; 	
}

@keyframes load {
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1424px) {
	.tabs{
		font-size: 15px;
		font-weight: 600;
	}
	.tabs a{
		padding: 10px 20px;
	}
	.nom-item > div{
		font-size: 15px;
		padding: 30px 15px;
	}
}

/****************
ORDERS
****************/
h1, 
.h1{
	font-size: 30px;
	font-weight: 500;
	margin: 0 0 20px;
}
h2, 
.h2{
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 35px;
}
.flex-title{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.flex-title h1{
	margin-right: 50px;
}
.orders-filter,
.claims-filter{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.orders,
.claims,
.samples{
	display: table;
	border-spacing: 0 15px;
	width: 100%;
}
.order-item,
.claim-item,
.sample-item{
    border: 2px solid #ebedf3;
    display: table-row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 40px 0;
    transition: box-shadow .2s ease;
}
.order-item:hover{
	box-shadow: 0 4px 13px rgba(0, 0, 0, 0.14);
	cursor: pointer;
}
.order-item > div,
.claim-item > div,
.sample-item > div{
	line-height: 1.2;
    font-weight: 600;
    padding: 30px 20px;
    font-size: 14px;
    background: #fff;
    position: relative;
    display: table-cell;
    border-top: 2px solid #ebedf3;
    border-bottom: 2px solid #ebedf3;
}
.order-item > div:not(:last-child)::after,
.claim-item > div:not(:last-child)::after,
.sample-item > div:not(:last-child)::after{
	content:'';
	position: absolute;
	right: -1px;
	width: 2px;
	background: #ebedf3;
	top: 30px;
	bottom: 30px;
	z-index: 1;
}
.order-item > div:first-child,
.claim-item > div:first-child,
.sample-item > div:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 25px;
	border-left: 2px solid #ebedf3;
}
.order-item > div:last-child,
.claim-item > div:last-child,
.sample-item > div:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 25px;
	padding-left: 10px;
	border-right: 2px solid #ebedf3;
}
.claim-item > div:last-child,
.sample-item > div:last-child{
	padding-left: 20px;	
}
.order-item > div > span,
.claim-item > div > span,
.sample-item > div > span{
	color: var(--color-light);
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}
.claim-item > div > span,
.sample-item > div > span{
	white-space: nowrap;
}
.order-number,
.claim-number,
.sample-number{
	font-size: 24px;
	position: relative;
	white-space: nowrap;
	display: inline-block;
}
.order-number .number,
.claim-number .number,
.sample-number .number{
	color: var(--color-light);
}
.order-item > .order-date-start:not(:last-child)::after{
	content: '';
    position: absolute;
    right: -7px;
    width: 14px;
    background: #212842;
    top: 47px;
    bottom: auto;
    z-index: 1;
    height: 2px;
}
.order-item > .order-date-start.fix-order-date:not(:last-child)::after{
    background: #fff;
}
.order-notification,
.sample-notification,
.claim-notification {
    position: absolute;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    background: var(--color-danger);
    border-radius: 50%;
    right: -22px;
    top: -8px;
}
.order-status,
.claim-status,
.sample-status{
	font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    margin-right: 12px;
    padding: 6px 12px;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
}
.claim-status,
.sample-status{
	white-space: nowrap;
}
.order-status-cell,
.claim-status-cell,
.sample-status-cell{
	text-align: right;
}
.order-status-cell .popup-menu-container,
.claim-status-cell .popup-menu-container,
.sample-status-cell .popup-menu-container {
    position: relative;
    display: inline-block;
    z-index: 2;
    vertical-align: middle;
}
.order-positions{
	color: var(--color-primary);
}
.orders-filter-container,
.claims-filter-container,
.samples-filter-container{
	padding-right: 45px;
	display: flex;
	align-items: center;
}
.order-positions-popup {
    position: absolute;
    background: #fff;
    width: 900px;
    padding: 25px 5px 25px 30px;
    border-radius: 8px;
    z-index: 2;
    right: -200px;
    top: 75px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.24);
    text-align: left;
    display: none;
}
.order-positions-popup table{
    font-weight: 600;
    font-size: 14px;
    border-spacing: 0;
    width: 100%;
}
.order-positions-popup tbody{
    overflow: auto;
    max-height: 400px;
    display: block;
    width: 100%;
    padding-right: 30px;
}
.order-positions-popup thead{
	display: block;
    width: 100%;	
    padding-right: 30px;
}
.order-positions-popup tr{
	width: 100%;
}
.order-positions-popup th{
	font-size: 12px;
	font-weight: 500;
	color: var(--color-light);
	padding: 0 20px 12px 0;
	border-bottom: 2px solid #ebedf3;
}
.order-positions-popup td{
	padding: 12px 20px 12px 0;
	border-bottom: 2px solid #ebedf3;
}
.order-positions-popup tbody::-webkit-scrollbar{width:2px;height:0px;}
.order-positions-popup tbody::-webkit-scrollbar-thumb{background: #0083fb;width:2px;height:0px;}
.order-positions-popup tbody::-webkit-scrollbar-thumb:hover{background: #0083fb;}
.order-positions-popup tbody::-webkit-scrollbar-track{background: #f9f9f9;border-left: 1px solid #f1f1f1;}

.order-positions-popup td:nth-child(1),
.order-positions-popup th:nth-child(1){
	width: 16%;
}
.order-positions-popup td:nth-child(2),
.order-positions-popup th:nth-child(2){
	width: 30%;
}
.order-positions-popup td:nth-child(3),
.order-positions-popup th:nth-child(3){
	width: 14%;
}
.order-positions-popup td:nth-child(4),
.order-positions-popup th:nth-child(4){
	width: 20%;
	white-space: nowrap;
}
.order-positions-popup td:nth-child(5),
.order-positions-popup th:nth-child(5){
	width: 20%;
	white-space: nowrap;
}
.order-positions-popup td:nth-child(4) span {
	font-size: 12px;
	font-weight: 500;
	color: var(--color-light);
	margin-left: 4px;
}
.order-positions-popup tr:last-child td {
	border-bottom: none;
}
.order-positions-popup::before{
	content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    background: #fff;
    right: 310px;
    transform: rotate(45deg);
}
.active > .order-positions-popup{
	display: block;
}
h1 .date,
.h1 .date{
	color: var(--color-light);
}
.alert{
	margin-bottom: 14px;
	padding: 15px;
	font-size: 14px;
}
.alert-danger{
	color: var(--color-danger);
	background: #fdd1d0;
}
.alert-success{
	color: var(--color-success);
	background: #b4efb3;
}
.alert-info{
	color: var(--color-primary);
	background: #cceeff;
}
.alert-warning{
	color: var(--color-warning);
	background: #ffe6cc;
}
.oder-add-info{
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}
.oder-add-info > div{
	width: calc(50% - 12px);
}
.form-control{
	background: #fff;
	border: 2px solid #e2e4ec;
	border-radius: 5px;
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 12px 12px 0;
	font-weight: 500;
	font-size: 14px;
}
textarea.form-control{
	resize: none;
	padding: 30px;
	line-height: 1.2;
	min-height: 140px;
	height: 100%;
}
.input-container{
	position: relative;
	display: block;
}
.placeholder{
	position: absolute;
	font-size: 14px;
	color: var(--color-light);
	user-select: none;
	pointer-events: none;
	transition: all .3s ease;
}
textarea + .placeholder{
	top: 30px;
    left: 30px;
}
textarea:focus + .placeholder,
textarea.not-empty + .placeholder{
	font-size: 11px;
    left: 30px;
    top: 12px;
}

input + .placeholder{
	top: 16px;
    left: 15px;
}
input:focus + .placeholder,
input.not-empty + .placeholder{
	font-size: 9px;
    left: 12px;
    top: 8px;
}
.order-positions-inputs .form-control{
	background: transparent;
}
.help{
	position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    color: var(--color-light);
    right: 10px;
    top: 13px;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    font-weight: 600;
}
.number-in .form-control{
	min-width: 200px;
}
.order-add-file .add-file-name{
	margin-bottom: 18px;
}
.order-add-file{
    border: 2px solid #e2e4ec;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
}
/* .add-file label{
	position: relative;
	display: block;
	height: 100%;
	cursor: pointer;
}
.add-file label input{
	opacity: 0;
	position: absolute;
} */
.add-file-link{
	font-size: 16px;
	color: var(--color-primary);
	font-weight: 600;
  display: block;
  cursor: pointer;
}
.oder-add-comment .input-container{
	height: 100%;
}
.add-file-name.havefile{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.add-file-name span{
	display: block;
	background: #fff;
	color: var(--color-primary);
	font-weight: 500;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 5px;
	position: relative;
}
.order-positions-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.order-positions-title h2{
	margin-bottom: 0;
}
.sample-form-title h2{
	margin-bottom: 25px;
}

.order-positions-container{
	padding-bottom: 42px;
	border-bottom: 2px solid #e2e4ec;
	margin-bottom: 40px;
}
.order-position-list{
	display: table;
	border-spacing: 0 15px;
	width: 100%;
}
.order-position-item{
	border: 2px solid #ebedf3;
    display: table-row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 40px 0;
}
.order-position-item > div{
	line-height: 1.2;
    font-weight: 600;
    padding: 30px 20px;
    font-size: 16px;
    background: #fff;
    position: relative;
    display: table-cell;
    border-top: 2px solid #ebedf3;
    border-bottom: 2px solid #ebedf3;
}
.order-position-item  > div:not(:last-child)::after{
	content:'';
	position: absolute;
	right: -1px;
	width: 2px;
	background: #ebedf3;
	top: 30px;
	bottom: 30px;
	z-index: 1;
}
.order-position-item  > div:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 65px;
	border-left: 2px solid #ebedf3;
}
.order-position-item  > div:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 50px;
	position: relative;
	border-right: 2px solid #ebedf3;
}
.order-position-item > div > span{
	color: var(--color-light);
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}
.order-position-item > div:nth-child(4) > div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.order-position-item > div:nth-child(4) > div > span{
		color: var(--color-light);
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
		margin-top: 0;
		margin-left: 4px;
		white-space: nowrap;
}
.order-position-item > div:nth-child(4) > span{
	white-space: nowrap;
}
.order-position-code{
  color: var(--color-primary);
  cursor: auto;
}
.order-position-code:hover{
	color: var(--color-primary-light);	
}
.order-position-item  > div .order-position-number{
	position: absolute;
	left: 28px;
	top: 20px;
	color: #fff;
	background: var(--color-primary);
	font-size: 12px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.order-position-item .popup-menu-container{
	position: absolute;
    right: 30px;
    top: calc(50% - 10px);
    z-index: 2;
}
.order-position-item .popup-menu-container.active{
	z-index: 3;
}
.order-positions-inputs{
	display: flex;
}
.order-positions-inputs label + label{
	margin-left: 22px;
}
.order-positions-panel{
    display: table;
    padding: 15px 0 45px;
    border-bottom: 2px solid #e2e4ec;
    margin-bottom: 28px;
}
.order-positions-panel > div{
	vertical-align: middle;
	display: table-cell;
}
.order-positions-panel > div:not(:last-child){
	padding-right: 20px;
	max-width: 160px;
}
.order-positions-panel{
	width: 100%;
}
.order-positions-panel.fix-for-order{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.order-positions-panel.fix-for-order > div{
  margin-bottom: 20px;
  min-width: 25%;
  max-width: 25%;
}
.order-positions-panel.fix-for-order > .number-in{
  min-width: 220px!important;
  max-width: 220px!important;
}
.edit-order .order-positions-panel.fix-for-order{
  margin-bottom: 20px;
}
.panel-item-title{
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
	color: var(--color-light);
	white-space: nowrap;
}
.panel-item-inline{
	display: flex;
  align-items: center;
  max-width: 160px;
}
.panel-item-inline.date-range {
  max-width: 188px;
}
.panel-item-inline .panel-item-title{
	margin-bottom: 0;
	margin-right: 5px;
}
.orders-filter-container > div + div,
.claims-filter-container > div + div{
	margin-left: 30px;
}
.date-result{
    background: url(../img/calendar-light.png) no-repeat right center;
    padding: 9px 20px 7px 0;
    display: inline-block;
    transition: all .2s ease;
}
.date-result:hover{
	background: url(../img/calendar.png) no-repeat right center;
	cursor: pointer;
}
.date-container{
	position: relative;
}
.date-popup{
    display: none;
    background: #fff;
    text-align: left;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);
    position: absolute;
    left: calc(-50% - 60px);
    width: 320px;
    z-index: 4;
    top: calc(100% + 5px);
}
.active > .date-popup{
	display: block;
}
.date-popup .form-control{
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
    background: url(../img/calendar.png) no-repeat 258px center, #fff;
}
.date-help{
	/* color: var(--color-light); */
  font-size: 12px;
	display: block;
	margin-top: 28px;
}
.datepicker{
	margin: 0 -15px -15px;
}
.order-title-status{
	font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    margin-left: 12px;
    padding: 6px 12px;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    margin-bottom: 3px;
}

.content-title-addon {
	font-size: 14px;
	margin-bottom: 25px;
}
.content-title-addon span{
	color: var(--color-light);
}
.edit-order .order-positions-panel{
    border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 30px;
}
.order-sum{
	width: 100%;
	display: block;
	font-weight: 600;
	font-size: 16px;
	/* padding: 0 0 30px;
    border-bottom: 2px solid #e2e4ec;
    margin-bottom: 28px; */
}
.order-message-form{
	display: flex;
	align-items: flex-start;
	margin-bottom: 25px;
}
.order-message-form .input-container{
	width: 100%;
	padding-right: 15px;
}
.order-message-form textarea{
	min-height: 44px;
	height: 44px;
	padding: 15px 30px 5px;
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 20px;
}
.order-message-form textarea + .placeholder {
    top: 16px;
}
.order-message-form textarea:focus + .placeholder, 
.order-message-form textarea.not-empty + .placeholder {
    font-size: 9px;
    left: 30px;
    top: 8px;
    background: #fff;
    z-index: 1;
}
#text_area_div{
	width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	visibility: hidden;
	position: absolute;
	left: -9999px;
	padding: 10px 30px;
	line-height: 20px;
}
.order-message-form{
	position: relative;
}
.message{
    padding: 30px 25px 15px;
    background: #fff;
    border: 2px solid #e2e4ec;
    margin-bottom: 18px;
    border-radius: 5px;
    width: calc(100% - 240px);
}
.message p{
	font-size: 14px;
	line-height: 1.71;
	margin: 0 0 20px;
}
.message-bottom{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.message-info{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 12px;
	color: var(--color-light);
	padding-left: 15px;
}
.message-files{
	display: flex;
	flex-wrap: wrap;
	padding-right: 15px;
	width: 50%;
}
.message-files + .message-info{
	max-width: 50%;
}
.message-file-list{
	display: flex;
	flex-wrap: wrap;
}
.message-file-list.havefile{
	margin-top: 6px;
}
.message-files a,
.message-file-list span{
	display: block;
    background: #ecedf1;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px;
}
.message-file-list span{
	background: #fff;
	cursor: default;
}
.message-files a:hover{
	color: var(--color-primary-light);
}
.message-info a{
	color: var(--color-primary);
}
.message-info a:hover{
	color: var(--color-primary-light);
}
.message-out{
	margin-left: 240px;
}
.message-unread{
	border-color: #2bb628;
}
.message-new{
	background: #f0f1f5;
}
.unread-messages{
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    margin-bottom: 18px;
    background: #2bb628;
}
.message-file{
    background: url(../img/file.png) no-repeat center center;
    position: absolute;
    width: 20px;
    height: 44px;
    display: block;
    cursor: pointer;
    z-index: 2;
    right: 20px;
    top: 0;
    opacity: 0.5;
    transition: opacity .2s ease;
}
.message-file:hover{
	opacity: 1;
}
.message-file input{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 0;
}
.input-error{
	display: block;
	color: var(--color-danger);
	font-size: 11px;
	margin-top: 2px;
}
.input-has-error{
	border-color: var(--color-danger);
}

@media only screen and (max-width: 1449px) {
	.message{
	    width: calc(100% - 120px);
	}
	.message-out{
		margin-left: 120px;
  }
	.orders{
		display: block;
	}
	.order-item{
	    display: flex;
	    flex-wrap: wrap;
	    background: #fff;
	    padding: 35px 0 30px;
	}
	.order-item > div {
	    padding: 0 20px;
	    display: block;
	    border: 0!important;
	}
	.order-item > div:not(:last-child)::after {
	    top: 0;
	    bottom: 0;
	}
	.order-item > .order-date-start:not(:last-child)::after{
		top: 7px;
	}
	.order-item > .order-status-cell{
		width: 80%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 22px;
	}
	.order-item > .order-status-cell > span{
		margin-top: 0;
		order: -1;
		margin-right: 25px;
	}
	.order-item > .order-positions-cell{
		width: 20%;
		margin-top: 22px;
	}
	.order-item > .order-positions-cell a {
		margin-left: 5px;
		margin-right: 10px;
	}
	.order-item > .order-positions-cell span {
		display: inline-block;
	}
	.order-item > div:nth-child(1){
		width: 24%;
	}
	.order-item > div:nth-child(2){
		width: 13%;
	}
	.order-item > div:nth-child(3){
		width: 13%;
	}
	.order-item > div:nth-child(4){
		width: 20%;
  }
	.order-item > div.fix-for-client:nth-child(4){
		width: 50%;
	}
	.order-item > div:nth-child(5){
		width: 30%;
  }
	.order-item > div.fix-for-client:nth-child(5){
		width: 20%;
	}
	.order-positions-cell::after{
		display: none!important;
	}
	.order-number {
	    font-size: 14px;
	}
  .order-notification,
  .sample-notification,
  .claim-notification {
	    right: -20px;
	    top: -16px;
	}
	.order-positions-popup{
		right: auto;
		left: 0;
		top: 40px;
		width: 900px;
	}
	.order-positions-popup::before{
		right: auto;
		left: 40px;
	}
	.order-item > div:nth-child(5)::after {
	    display: none!important;
	}
	.order-positions-panel{
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 25px;
	}
	.order-positions-panel > div{
		margin-bottom: 20px;
		min-width: 25%;
		max-width: 25%;
	}
	.order-positions-panel > .number-in{
		min-width: 220px!important;
		max-width: 220px!important;
	}
	.edit-order .order-positions-panel{
		margin-bottom: 20px;
	}
	.orders-filter{
		justify-content: space-between;
		/* width: 100%; */
  }
}

.date-result-range{
	min-width: 175px;
}
.claim-title,
.sample-title{
	width: 30%;
}
.claim-body{
	padding-top: 35px;
	border-top: 2px solid #e2e4ec;
}
.claim-body h2{
	margin-bottom: 25px;
}
.white{
    background: #fff;
    border: 2px solid #ebedf3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-bottom: 25px;
	position: relative;
    padding: 40px 30px;
}
.white-p-mini{
	padding: 30px 25px;	
}
.claim-data li{
	font-weight: 600;
	font-size: 14px;
	line-height: 1.285;
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: 2px solid #ebedf3;
}
.claim-data li span{
	font-size: 12px;
	font-weight: 500;
	color: var(--color-light);
	display: block;
	margin-bottom: 10px;
}
.claim-data li:last-child{
	padding-bottom: 0;
	margin-bottom: 0;
	border: 0;
}
.claim-info{
	display: flex;
	margin-bottom: 20px;
}
.claim-info:last-child{
	margin-bottom: 0;
}
.claim-info-title{
	width: 35%;
	padding-right: 10px;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-light);
}
.claim-info-title span{
	display: block;
	font-size: 11px;
}
.claim-info-info{
	width: 65%;
	font-weight: 600;
	line-height: 1.285;
}
.claim-files{
	margin-top: -5px;
	display: flex;
	flex-wrap: wrap;
}

.claim-files a{
    display: block;
    background: #ecedf1;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px;
}
.claim-files a:hover{
	color: var(--color-primary-light);
}
.claim-result{
	background: #ffeedc;
	border-radius: 5px;
	padding: 20px 20px 20px 28px;
}
.claim-flex-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -10px;
}
.claim-flex-title h2,
.claim-flex-title .button{
	margin-bottom: 15px;	
}
.label:not(:last-child){
	margin-bottom: 35px;
}
.col-8 .white .label:not(:last-child){
	margin-bottom: 20px;
}
.label-title{
	font-size: 12px;
	margin-bottom: 10px;
	display: block;
	text-align: left;
}
.claim-body textarea.form-control{
	padding: 20px;
	height: 125px;
	min-height: 125px;
}
.claim-body .selectboxit-container{
	width: 100%;
    border: 2px solid #e2e4ec;
    border-radius: 5px;
    background: #fff;
}
.claim-body .selectboxit-default-icon,
.claim-body .selectboxit-option-icon-container{
	display: none!important;
}
.claim-body .selectboxit-container .selectboxit{
	width: 100%!important;
	padding: 0 10px;
	height: 40px;
    line-height: 40px;
}
.claim-body .selectboxit-container span{
	height: 40px;
    line-height: 40px;	
}
.claim-body .selectboxit-container .selectboxit-options{
	min-width: calc(100% + 4px)!important;
	top: -2px!important;
	left: -2px!important;
}
.claim-body .selectboxit-arrow-container{
	position: absolute;
	right: 10px;
}
.claim-bottom{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.claim-bottom .input-container{
	width: 280px;
	margin-right: 20px;
}
.claim-bottom .claim-files{
	width: calc(100% - 300px);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.claim-files input{
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
.claim-files label{
	display: block;
	margin-top: 3px;
}
.claim-files label span:hover{
	cursor: pointer;
	color: var(--color-primary-light);
}
.claim-files-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.claim-files-list span{
    display: block;
    background: #ecedf1;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px;
}
.file-list-3{
	padding-top: 18px;
	width: 100%;
}
.file-list-3.havefile{
	padding-bottom: 8px;
	padding-top: 0;
}
.remove-claim{
	width: 15px;
	height: 15px;
	position: absolute;
	background: url(../img/remove.png) no-repeat center center;
	opacity: 0.5;
	right: 12px;
	top: 12px;
	transition: all .2s ease;
}
.remove-claim:hover{
	opacity: 1;
	cursor: pointer;
}
.sample-panel > div:not(:last-child){
	max-width: 25%;
}
.sample-panel{
	padding: 15px 0 20px;
}
.sample-form{
	width: 100%;
	padding-right: 50%;
	background: url(../img/form-bg.png) no-repeat right top;
	padding-bottom: 48px;
	border-bottom: 2px solid #e2e4ec;
	margin-bottom: 40px;
}
.sample-form .label:not(:last-child) {
    margin-bottom: 18px;
}
.sample-form .col-6{
	margin-bottom: 18px;
}
.sample-form .selectboxit-btn{
	color: var(--color-light);
}
.input-group{
	display: flex;
	border: 2px solid #e2e4ec;
	margin-bottom: 18px;
	border-radius: 5px;
	background: #fff;
}
.input-group > *{
	margin-top: -2px;
}
.input-group .form-control{
	border: 0;
	background: transparent;
}
.input-group .input-container + .input-container::after{
	content:'';
    position: absolute;
    height: 28px;
    border-left: 1px solid #e2e4ec;
    top: calc(50% - 14px);
}
.sample-form-body{
	border-top: 0;
	padding-top: 0;
}
@media only screen and (max-width: 1449px) {
	.claim-bottom{
		flex-direction: column;
	}
	.claim-bottom .claim-files{
		width: 100%;
		justify-content: flex-start;
		margin-top: 15px;
	}
	.claim-files-list{
		justify-content: flex-start;
	}
	.sample-panel > .number-in {
	    min-width: 100%!important;
	    max-width: 100%!important;
	    margin-bottom: 0;
	}
	.sample-form{
		padding-right: 45%;
	}
}
.datepicker-range,
.datepicker{
	margin: 0 -15px -15px;
	width: calc(100% + 30px);
}
.ui-widget-content{
	border: 0;
	border-radius: 0!important;
	padding: 0;
	width: 100%;
	color: inherit;
	background: #fff;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
	background: url(../svg/caret-down.svg) no-repeat center center;
	background-size: 11px;
    opacity: 0.5;
}
.ui-datepicker .ui-datepicker-prev:hover span, .ui-datepicker .ui-datepicker-next:hover span{
    opacity: 1;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span{
	transform: rotate(90deg);
}
.ui-datepicker .ui-datepicker-next span{
	transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
	background: none!important;
	border: 0!important;
	top: 2px!important;
}
.ui-datepicker .ui-datepicker-next{
	right: 2px !important;
}
.ui-datepicker .ui-datepicker-prev{
	left: 2px !important;
}
.ui-widget-header {
    border: 0;
    background: #fff;
    color: inherit;
    user-select: none;
}
.ui-datepicker table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    margin: 0;
    border-spacing: 0;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { 
    background: #f5f6fa!important;
}
.ui-datepicker td{
	padding: 0;
	border-bottom: 1px solid #dde3e7;
    border-right: 1px solid #dde3e7;
}
.ui-datepicker td:last-child{
	border-right: 0;	
}
.ui-datepicker tr:first-child td{
	border-top: 1px solid #dde3e7;	
}
.ui-datepicker tr:last-child td{
	border-bottom: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0;
    background: #fff;
    color: #7b8082;
    text-align: center;
    padding: 0;
    height: 38px;
    line-height: 38px;
}
.ui-widget-content .ui-state-default:hover{
	background: #f5f6fa;
}
.ui-state-disabled span:hover  { 
    background: #fff!important;
}
.ui-datepicker th{
	color: #7b8082;
	font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
}
.ui-datepicker td .ui-state-active{
	background: var(--color-primary)!important;
	color: #fff!important;
}
.date-popup{
	user-select: none;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
    width: 1120px;
    margin: 10px;
    max-width: 90%;
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	      background-clip: padding-box;
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
	      box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #002242;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=60);
	opacity: .6;
}
.modal-v-center{
    text-align: center;
}
.modal-v-center:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.modal-v-center .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    position: relative;
}
.modal-content{
	padding: 40px;
    min-width: 910px;
}
.modal-content-mini{
	min-width: 620px;	
	max-width: 100%;
	width: 620px;
}
.modal-dialog-mini {
    position: relative;
    width: 640px;
    margin: 10px;
    max-width: 90%;
}
.modal-header .close{
    width: 15px;
    height: 15px;
    position: absolute;
    background: url(../img/remove.png) no-repeat center center;
    opacity: 0.5;
    right: 12px;
    top: 12px;
    transition: all .2s ease;
    border: 0;
}
.modal-header .close:hover{
	cursor: pointer;
	opacity: 1;
}
.modal .order-positions-panel > div:not(:last-child) {
    padding-right: 30px;
    /* max-width: 13%!important; */
    width: 13%!important;
}
.modal-cons h2{
	/* text-align: center; */
	margin-bottom: 50px;
}
.cons-input{
	/* text-align: center; */
	margin-bottom: 15px;
}
/* .cons-input .form-control{
	text-align: center;
} */

.modal table{
    font-weight: 600;
    font-size: 14px;
    border-spacing: 0;
    width: 100%;
}
.modal tbody{
    overflow: auto;
    max-height: 205px;
    display: block;
    width: 100%;
    /* padding-right: 30px; */
}
.modal thead{
	display: block;
    width: 100%;	
    /* padding-right: 30px; */
}
.modal tr{
	width: 100%;
	display: table;
	cursor: pointer;
}
tr:hover td{
	background: #f3f9ff;
}
tr.selected td{
	background: #dbeeff;
}
tr.disabled td{
  background: #f1f1f1;
  cursor: not-allowed;
}
tr.disabled:hover td{
  background: #f1f1f1;
  cursor: not-allowed;
}
tr.disabled.selected td{
  background: #f1f1f1;
  cursor: not-allowed;
}
.modal th{
	font-size: 12px;
	font-weight: 500;
	color: var(--color-light);
	padding: 0 20px 12px 0;
	border-bottom: 2px solid #ebedf3;
}
.modal td{
	padding: 12px 20px 12px 0;
	border-bottom: 2px solid #ebedf3;
}
.modal tbody::-webkit-scrollbar{width:2px;height:0px;}
.modal tbody::-webkit-scrollbar-thumb{background: #0083fb;width:2px;height:0px;}
.modal tbody::-webkit-scrollbar-thumb:hover{background: #0083fb;}
.modal tbody::-webkit-scrollbar-track{background: #f9f9f9;border-left: 1px solid #f1f1f1;}

.modal td:nth-child(1),
.modal th:nth-child(1){
	width: 35%;
}
.modal td:nth-child(2),
.modal th:nth-child(2){
	width: 25%;
}
.modal td:nth-child(3),
.modal th:nth-child(3){
	width: 15%;
}
.modal td:nth-child(4),
.modal th:nth-child(4){
	width: 13%;
}
.modal td:nth-child(5),
.modal th:nth-child(5){
	width: 12%;
}
.modal-comment{
	margin-bottom: 35px;
}
.modal textarea.form-control {
	height: 80px;
	min-height: 80px;
    padding: 18px 12px;
}
.modal textarea + .placeholder {
    top: 16px;
    left: 12px;
}
.modal textarea:focus + .placeholder, 
.modal textarea.not-empty + .placeholder {
    font-size: 11px;
    left: 12px;
    top: 8px;
}
.modal-inputs{
	margin-bottom: 30px;
    padding-top: 35px;
    border-top: 0;
    display: flex;
    align-items: flex-start;
}
.modal-address{
	width: 45%;
	margin-right: 20px;
}
.modal-address-input{
  display: flex;
  align-items: flex-start;
}
.modal-address-input > .input-container{
  margin-right: 10px;
  width: 100%;
}
.modal-point{
	width: 24%;
	margin-right: 20px;
	position: relative;
	text-align: center;
}
.modal-point:last-child{
	margin-right: 0;
}
.modal-point input{
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
}
.modal-kol{
	width: 18%;
	margin-right: 6px;
}
.count-plus,
.count-minus{
    width: 28px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 8px;
    height: 28px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    line-height: 28px;
    user-select: none;
    background: #fff;
    border-radius: 50%;
    transition: background .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-plus:hover,
.count-minus:hover{
	background: #e2e4ec;
}
.count-plus{
	right: 12px;
}
.count-minus{
	left: 12px;
}
.modal-address-new{
	color: var(--color-primary);
	display: inline-block;
	margin-top: 6px;
}
.modal-address-new:hover{
	color: var(--color-primary-light);
	cursor: pointer;
}
.invis{
	display: none!important;
}
.page-content{
  margin-left: auto;
	margin-right: auto;
}
.login-content{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.login-content h2{
	margin-bottom: 50px;
}
.login-form{
	margin: 0 auto;
	max-width: 870px;
	width: 100%;
	padding: 75px 65px;
	border-radius: 5px;
	border: 2px solid #ebedf3;
	background: url(../img/login-bg.png) no-repeat 90% 120px ,#fff;
}
.login-content > div{
	margin: auto;
	width: 100%;
}
.login-content .input-container{
    max-width: 60%;
    margin-bottom: 20px;
}
.login-button{
	padding-top: 25px;
	display: flex;
	align-items: center;
}
.login-button .button{
	padding-left: 40px;
	padding-right: 40px;
}
.login-help{
	max-width: 60%;
	color: var(--color-light);
	font-size: 14px;
	line-height: 1.71;
	padding-top: 50px;
}
.header .popup-menu li{
	text-align: left;
    font-size: 14px;
    margin-bottom: 11px;
}
.header .popup-menu li.profile-li{
	margin-bottom: 4px;
}
.header .popup-menu li:last-child{
	margin-bottom: 0;
}
.header .popup-menu li:not(:first-child){
	padding-left: 41px;
}
@media only screen and (max-width: 1449px) {
	.order-positions-panel > .number-in {
	    min-width: 48%!important;
	    max-width: 48%!important;
	}	
	.modal .order-positions-panel > div:not(:last-child) {
	    padding-right: 30px;
	    /* max-width: 13%!important; */
	    width: 13%!important;
	    min-width: 13%!important;
	}
}
.disabled-form .button{
	background: rgba(145, 151, 174, 0.5);
    box-shadow: none;
    user-select: none;
    pointer-events: none;
}
.disabled-form .input-container,
.disabled-form .selectboxit-container,
.disabled-form .date-container,
.disabled-form .input-group{
    user-select: none;
    pointer-events: none;
    opacity: 0.8;
}
.disabled-form .order-positions-inputs,
.disabled-form .popup-menu-container{
	display: none;
	user-select: none;
    pointer-events: none;
    opacity: 0.8;
}
.order-positions-title h2,
.order-position-item > div:first-child{
	width: 25%;
}
.order-positions-btn-container{
	width: 25%;
	display: flex;
	justify-content: flex-end;
}
.order-positions-inputs{
	width: 50%;
}
.order-positions-inputs .input-container{
	width: calc(48% - 20px);
	margin-left: 20px;
}
.order-positions-inputs .input-container:first-child{
	width: calc(40% - 20px);
	margin-left: 20px;
}
.order-position-item > div:nth-child(2){
	width: 14%;
}
.order-position-item > div:nth-child(3){
	width: 24%;	
}
.button-lg{
    padding: 18px 40px;
    font-size: 16px;
}
.text-center + h2{
	margin-top: 30px;
}
.claim-template{
	display: none;
}
.white.claim-hidden{
	display: none;
}
.modal-cons .placeholder{
	width: 100%;
	/* text-align: center; */
	left: 10px;
}
input:focus + .placeholder, input.not-empty + .placeholder {
    font-size: 9px;
    left: 12px;
    top: 8px;
}
.sample-item:hover,
.claim-item:hover{
	box-shadow: 0 4px 13px rgba(0, 0, 0, 0.14);
	cursor: pointer;
}
.remove-file{
    width: 12px;
    height: 12px;
    position: relative!important;
    background: url(../img/remove.png) no-repeat center center!important;
    opacity: 0.7;
    transition: all .2s ease;
    display: inline-block!important;
    background-size: 12px 12px!important;
    margin: 2px 0 0 10px!important;
    padding: 0!important;
}
.remove-file:hover{
	opacity: 1;
	cursor: pointer;
}

/****************
DEV
****************/
.modal-clients .modal-inputs {
  padding-top: 0px;
  margin-bottom: 30px;
}
.clients-select{
  width: 100%;
}
.clients-select .selectboxit-container{
  width: 100%;
  border: 2px solid #e2e4ec;
  border-radius: 5px;
  background: #fff;
}
.clients-select.selectboxit-default-icon,
.clients-select .selectboxit-option-icon-container{
  display: none!important;
}
.clients-select .selectboxit-container .selectboxit{
  width: 100%!important;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}
.clients-select .selectboxit-container span{
  height: 40px;
  line-height: 40px;	
}
.clients-select .selectboxit-container .selectboxit-options{
  min-width: calc(100% + 4px)!important;
  top: -2px!important;
  left: -2px!important;
}
.clients-select .selectboxit-arrow-container{
  position: absolute;
  right: 10px;
}

.order-status.order-status-new,
.sample-status.sample-status-new {
	background: #fff; color: #9197ae; border: 2px solid #ebedf3;
}
.order-status.order-status-confirmed,
.sample-status.sample-status-confirmed {
  background: #415deb;
}
.order-status.order-status-production,
.sample-status.sample-status-production {
  background: #f16511;
}
.order-status.order-status-ready,
.sample-status.sample-status-ready {
  background: #dbaa13;
}
.order-status.order-status-done,
.sample-status.sample-status-done {
	background: #2bb628;
}
.order-status.order-status-canceled,
.sample-status.sample-status-canceled {
  background: #b3b5bd;
}

.claim-status.claim-status-new {
	background: #fff; color: #9197ae; border: 2px solid #ebedf3;
}
.claim-status.claim-status-review {
  background: #415deb;
}
.claim-status.claim-status-solved {
	background: #2bb628;
}
.claim-status.claim-status-canceled {
	background: #b3b5bd;
}

.claim-title-status,
.sample-title-status,
.claim-title-status{
	font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    margin-left: 12px;
    padding: 6px 12px;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    margin-bottom: 3px;
}
.order-title-status.order-title-status-new,
.sample-title-status.sample-title-status-new {
	background: #fff; color: #9197ae; border: 2px solid #ebedf3;
}
.order-title-status.order-title-status-confirmed,
.sample-title-status.sample-title-status-confirmed {
  background: #415deb;
}
.order-title-status.order-title-status-production,
.sample-title-status.sample-title-status-production {
  background: #f16511;
}
.order-title-status.order-title-status-ready,
.sample-title-status.sample-title-status-ready {
  background: #dbaa13;
}
.order-title-status.order-title-status-done,
.sample-title-status.sample-title-status-done {
  background: #2bb628;
}
.order-title-status.order-title-status-canceled,
.sample-title-status.sample-title-status-canceled {
  background: #b3b5bd;
}

.claim-title-status.claim-title-status-new {
	background: #fff; color: #9197ae; border: 2px solid #ebedf3;
}
.claim-title-status.claim-title-status-review {
  background: #415deb;
}
.claim-title-status.claim-title-status-solved {
	background: #2bb628;
}

.errors ul li {
    margin: 5px 0;
}
/* fix */
.order-positions-popup tbody tr {
  display:flex;
}
.date-reset {
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
}
.date-reset a {
  color: var(--color-primary-light);
}
.date-result.empty{
  color: var(--color-light);
  min-width: 110px;
}
.add-file input[type="file"]{
	display: none;
}
.errors .alert {
  margin: 20px 0px;
  border-radius: 4px;
}
.claim-files-list span a{
  display: inline;
}

h2.chat-title {
  margin-top: 60px;
}

.btn-submit{
	position: relative;
	/* margin-top: 15px; */
}
.btn-submit::after {
	display: block;
    width: 14px;
    height: 14px;
    margin: -7px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    animation: load 0.9s linear infinite;
}
.btn-submit.loading{
	color: transparent;
}
.btn-submit.loading::after{
	content:''; 	
}

.error-page h1 {
  font-size: 74px;
}

.error-page p {
  font-size: 20px;
}

.client-filter-link{
	color: var(--color-primary);
	font-weight: 600;
  cursor: pointer;
}